# Python basics

* [Think Python link](http://greenteapress.com/thinkpython2/html/thinkpython2002.html#sec6)
* [W3school link](https://www.w3schools.com/python/python_inheritance.asp)

Start demo by selecting Cell/AllOutput/Clear. Then evaluate one cell after another.

## Numbers

In [1]:
2+3

5

In [2]:
2*3

6

In [3]:
2**3

8

In [4]:
import math
math.sqrt(2)

1.4142135623730951

## Strings

In [5]:
'alice'

'alice'

In [6]:
print('Hello World!')

Hello World!

In [7]:
'Spam'+'Spam'+'Spam'

'SpamSpamSpam'

In [8]:
#Text input
#s = input("What's your name?") # Here we need to use "..." instead of '...'
#print('Hi',s)

## Types

In [9]:
type(2)

int

In [10]:
type(2.0)

float

In [11]:
type('alice')

str

In [12]:
type([2,3,4])

list

## Comments

In [13]:
# Comment on one line
"""Comment on many lines"""

'Comment on many lines'

## Variables

In [14]:
alice=2 #alice is a variable
alice*3

6

## Functions

In [15]:
def area(r):
    """Docstring: This function returns the area of a circle with radius r.
    """ 
    a = math.pi * r **2
    return a
area(1)

3.141592653589793

In [16]:
def factorial(n):
    """Docstring: Maps n to n!""" 
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
factorial(10)

3628800

In [17]:
def print_lyrics():
    """Docstring: This function prints some text.
    """ 
    print("I'm a lumberjack, and I'm okay.")
    print("I sleep all night and I work all day.")

print_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [18]:
def leq(x,y):
    if x < y:
        print(x, 'is less than', y)
    elif x > y:
        print(x, 'is greater than', y)
    else:
        print(x, '=', y)

leq(3,4)

3 is less than 4

## Lists (integer indices)

In [19]:
[22,22,33]

[22, 22, 33]

In [20]:
type([22,22,33])

list

In [21]:
'cherry'

'cherry'

In [22]:
['Cheddar', 'Gouda', 'Edam']

['Cheddar', 'Gouda', 'Edam']

In [23]:
#Matrices
[[1,2,3],[4,5,6]]

[[1, 2, 3], [4, 5, 6]]

In [24]:
len([22,22,33])

3

In [25]:
#Use indices to grab elements of lists. 
#The index of the first element is 0.
['Cheddar', 'Gouda', 'Edam'][0]

'Cheddar'

In [26]:
'Monty Python'[0:5]

'Monty'

In [27]:
'Monty Python'[6:]

'Python'

In [28]:
cheeses = ['Cheddar', 'Gouda', 'Edam']
cheeses[1]

'Gouda'

In [29]:
def addall(numlist):
    """Add together all numbers in numlist"""
    sum = 0
    for n in numlist:
        sum = sum + n 
    return sum

addall([1,2,2])

5

In [30]:
def find(letter, word):
    """Where does letter appear in word?"""
    index = 0
    while index < len(word):
        if word[index] == letter:
            return index
        index = index + 1
    return -1

find('r','cherry')

3

In [31]:
range(3)

range(0, 3)

In [32]:
list(range(3))

[0, 1, 2]

### List methods

In [33]:
#To see methods that manipulate lists, type 
#help(list)

In [34]:
cheeses = ['Gouda', 'Cheddar', 'Edam']
cheeses

['Gouda', 'Cheddar', 'Edam']

In [35]:
cheeses.sort()
cheeses

['Cheddar', 'Edam', 'Gouda']

In [36]:
#Lists are mutable!
cheeses.append('Toma')
cheeses

['Cheddar', 'Edam', 'Gouda', 'Toma']

In [37]:
cheeses.remove('Gouda')
cheeses

['Cheddar', 'Edam', 'Toma']

In [38]:
#List comprehension:
def capitalize_all(t):
    return [s.capitalize() for s in t]

capitalize_all('HejSaN')

['H', 'E', 'J', 'S', 'A', 'N']

In [39]:
list(zip(['a','b'],[1,2]))

[('a', 1), ('b', 2)]

## Dictionaries (arbitrary indices)

In [40]:
eng2it = {'one': 'uno', 'two': 'due', 'three': 'tre'}
eng2it

{'one': 'uno', 'two': 'due', 'three': 'tre'}

In [41]:
type(eng2it)

dict

In [42]:
eng2fr = {}
eng2fr['dog'] = 'chien'
eng2fr['cat'] = 'chat'
eng2fr['dog']

'chien'

In [43]:
#Data for a plot
sales = {2017:37, 2018:42, 2019:44} 
sales

{2017: 37, 2018: 42, 2019: 44}

## Tuples

In [44]:
point1 = (2, 3, 4)
point1

(2, 3, 4)

In [45]:
type(point1)

tuple

In [46]:
tup2 = (1,2,'hello')
tup2

(1, 2, 'hello')

## Sets

In [47]:
animals = {'cat', 'dog'}
animals

{'cat', 'dog'}

In [48]:
'cat' in animals

True

### Set methods

In [49]:
#To see methods for lists, type
#help(set)

In [50]:
animals.add('fish')       # Add an element to a set
animals

{'cat', 'dog', 'fish'}

In [51]:
animals.remove('cat')     # Remove an element from a set
animals

{'dog', 'fish'}

In [52]:
#len is polymorphic
len(animals)

2

## Classes

All classes have a function called __init__(), which is always run when a new object of the class is defined.

In [53]:
class Person:
      def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person('Alice', 26)
(p1.name,p1.age)

('Alice', 26)

Let us define a new class Student that inherits properties and methods from the Person class:

In [54]:
class Student(Person):
      def __init__(self, name, age, year):
        super().__init__(name, age)
        self.graduationyear = year

st1 = Student('Bob', 33, 2021) 
(st1.name,st1.age,st1.graduationyear)

('Bob', 33, 2021)